@tailwind preflight;
@tailwind components;

.rr-input {
  @apply mb-2;

  .rr-input__label {
    @apply block text-grey-darker text-sm font-bold mb-1;
    transition: color 300ms ease-in;
  }

  .rr-input__field {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight;
    transition: border-color 300ms ease-in;
    resize: none;
  }

  &.rr-input__invalid {
    .rr-input__label {
      @apply text-red-dark;
    }

    .rr-input__field {
      @apply border-red-dark;
    }
  }
}

.btn {
  @apply bg-blue text-white font-bold py-2 px-4 rounded;
}

@tailwind utilities;

